
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #005DAA;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  margin: 0.5rem;
  text-align: center;
  position: relative;
}

.footer {
  max-height: 2em;
  position: absolute;
  bottom: .5em;
}